@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AutoFac IOC Demo</h1>
    <ul>
        <li>@ViewBag.Foo</li>
        <li>@ViewBag.Bar</li>
        <li>@ViewBag.Baz</li>
    </ul>
</div>